.account {
  min-height: 100%;
  .user_avatar_section {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    .user-img {
      width: 120px;
      height: 120px;
      background: $primary-default;
    }
    .qr-code {
      position: absolute;
      right: 16px;
      top: 20px;
    }
  }
  .user_info_section {
    display: flex;
    width: 100%;
    padding: 4px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    .name {
      color: $white-2;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* H3 - 24 M */
      font-family: $font-stack-popins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
      margin-bottom: 0px;
    }
    .user_role {
      color: $black-color-2;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Footnote - 14 R */
      font-family: $font-stack-popins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.028px;
      display: flex;
      width: 100%;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @include border-radius(8px);
      background: $primary-default;
    }
  }
  .section-inputs {
    display: flex;
    width: 100%;
    padding: 20px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .section {
    width: 100%;
    margin-bottom: 0px;
    gap: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .row-input {
    color: $white;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 R */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
    display: flex;
    gap: 8px;
    width: 100%;
    height: 64px;
    padding: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 1px solid $black-color-7;
    span {
      color: $gray-24;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
    }
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $white;
      width: 40px;
      height: 40px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.account-blue {
  background-color: $blue-7;
  .user_avatar_section {
    .user-img {
      background: $primary-default;
    }
  }
  .user_info_section {
    .name {
      color: $black-color;
    }
    .user_role {
      background: $blue-8;
    }
  }
  .row-input {
    color: $black-color;
    border-bottom: 1px solid $blue-8;
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $black-color;
      width: 40px;
      height: 40px;
    }
  }
}
.account-king {
  .user_avatar_section {
    .user-img {
      background: $blue-10;
    }
  }
  .user_info_section {
    .user_role {
      background: $blue-10;
    }
  }
}
.account-princess {
  background: $blue-11;
  .user_avatar_section {
    .user-img {
      background: $violet-12;
    }
  }
  .user_info_section {
    .name {
      color: $black-color;
    }
    .user_role {
      background: $primary-default;
    }
  }
  .row-input {
    color: $black-color;
    border-bottom: 1px solid $gray-23;
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $black-color;
      width: 40px;
      height: 40px;
    }
  }
}
.account-prince {
  background: $blue-12;
  .user_avatar_section {
    .user-img {
      background: $blue-9;
    }
  }
  .user_info_section {
    .name {
      color: $black-color;
    }
    .user_role {
      background: $blue-13;
    }
  }
  .row-input {
    color: $black-color;
    border-bottom: 1px solid $gray-23;
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $black-color;
      width: 40px;
      height: 40px;
    }
  }
}

.account-other {
  background: $blue-12;
  .user_avatar_section {
    .user-img {
      background: $green-2;
    }
  }
  .user_info_section {
    .user_role {
      background: $green-2;
    }
    .name {
      color: $black-color;
    }
  }
  .row-input {
    color: $black-color;
    border-bottom: 1px solid $gray-23;
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $black-color;
      width: 40px;
      height: 40px;
    }
  }
}
.account-adult {
  .user_avatar_section {
    .user-img {
      background: $violet-12;
    }
  }
}
.account-edit {
  .user_avatar_section {
    .user-img {
      background: $violet-12;
    }
  }
}
.family-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  .item-user {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include transition(0.3s);
    .tools {
      display: inline-flex;
      align-items: center;
      position: absolute;
      right: -160px;
      @include transition(0.3s);
      button {
        border: none;
      }
      .btn-edit,
      .btn-delete {
        width: 80px;
        height: 84px;
        flex-shrink: 0;
        background: $black-color-9;
        border-radius: 0;
        svg {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          fill: $white;
          width: 20px;
          height: 20px;
        }
      }
      .btn-delete {
        background: $black-color-10;
      }
    }
    &.show-tools {
      .user {
        background: $black-color-11;
        left: -50px;
      }
      .tools {
        right: 0;
      }
    }
  }
  .user {
    display: flex;
    width: 100%;
    padding: 16px;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    flex: 0 0 100%;
    position: relative;
    left: 0;
    @include transition(0.3s);
    img {
      width: 48px;
      height: 48px;
      background-color: $primary-default;
      @include border-radius(50%);
    }
    .name {
      color: $white;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 M */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
    }
    .user-role {
      color: $black-color-2;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.048px;
      display: flex;
      padding: 2px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      @include border-radius(8px);
      background: $primary-default;
      margin-top: 4px;
      &.queen {
        background-color: $white;
      }
    }
  }
  .item-user-queen {
    .user {
      img {
        background-color: $primary-default;
      }
      .user-role {
        background-color: $primary-default;
      }
    }
  }
  .item-user-king {
    .user {
      img {
        background-color: $blue-10;
      }
      .user-role {
        background-color: $blue-10;
      }
    }
  }
  .item-user-princess {
    .user {
      img {
        background-color: $violet-12;
      }
      .user-role {
        background-color: $primary-default;
      }
    }
  }
  .item-user-prince {
    .user {
      img {
        background-color: $blue-9;
      }
      .user-role {
        background-color: $blue-13;
      }
    }
  }
  .item-user-other {
    .user {
      img {
        background-color: $green-2;
      }
      .user-role {
        background-color: $green-2;
      }
    }
  }
}
.account-edit {
  .section-inputs {
    gap: 24px;
  }
}
