.activity_info_container {
  position: relative;
  padding: 12px 16px;
  gap: 5px;
  .text {
    color: $white-2;
    text-align: left;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 R */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
    h6 {
      color: $white-2;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 M */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      margin-bottom: 0;
    }
    p {
      color: $white-2;
      text-align: left;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      margin-bottom: 0;
    }
  }
}
