.add-members {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 16px 16px 32px 16px;
  .nav-add-members {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    z-index: 2;
    width: 100%;
    .btn {
      color: $white;
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      width: 100%;
    }
  }
}
.add-members-qr-code {
  background-color: #dccdfa;
  position: relative;
  &::before {
    content: '';
    background: linear-gradient(
      135deg,
      rgba(225, 208, 254, 1) 0%,
      rgba(193, 188, 255, 0.99) 4%,
      rgba(255, 217, 221, 0.96) 23%,
      rgba(193, 188, 255, 0.92) 45%,
      rgba(255, 217, 221, 0.88) 67%,
      rgba(222, 181, 255, 0.85) 89%,
      rgba(193, 115, 255, 0.83) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .nav-add-members {
    .btn-qr-code {
      color: $white;
      background: $violet-10;
      width: 100%;
      height: 50px;
      padding: 12px 16px;
      &:hover {
        color: $white;
        background: $violet-7;
      }
    }
    .btn-qr-manually {
      color: $white;
      background: $body-color;
      width: 100%;
      height: 50px;
      padding: 12px 16px;
      &:hover {
        color: $white;
        background: $violet-7;
      }
      &:active {
        color: $white;
        background: $violet-11;
      }
      &:disabled {
        color: $white;
        background: $black-color-8;
      }
    }
  }
  .tab-add-members {
    width: 100%;
    padding: 40px 0px;
    @include border-radius(20px);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
    h3 {
      color: $black-color;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* H3 - 24 M */
      font-family: $font-stack-popins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
      padding: 0px 20px;
      margin-bottom: 0;
    }
    .wrap-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      .hr {
        overflow: hidden;
        color: $black-color;
        font-feature-settings: 'liga' off, 'clig' off;
        text-overflow: ellipsis;
        /* Callout - 15 R */
        font-family: $font-stack-popins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 146.667% */
        letter-spacing: 0.03px;
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        width: 100%;
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          background: $white;
        }
        &::after {
          content: '';
          width: 100%;
          height: 1px;
          background: $white;
        }
      }
      .wrap-input-link {
        display: flex;
        height: 48px;
        padding: 0px 20px;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        width: 100%;
        .form-control {
          color: $black-color;
          font-feature-settings: 'liga' off, 'clig' off;
          /* Body - 16 R */
          font-family: $font-stack-popins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: 0.032px;
          background: $white;
        }
      }
    }
    .content {
      display: flex;
      height: 245px;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @include border-radius(12px);
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
.add-members-manually {
  padding: 16px 16px 40px 16px;
  gap: 24px;
  .nav-add-members {
    .btn-qr-code {
      color: $white;
      background: $black-color-9;
      width: 100%;
      height: 50px;
      padding: 12px 16px;
      &:hover {
        color: $white;
        background: $violet-7;
      }
    }
    .btn-qr-manually {
      color: $white;
      background: $violet-10;
      width: 100%;
      height: 50px;
      padding: 12px 16px;
      &:hover {
        color: $white;
        background: $violet-7;
      }
      &:active {
        color: $white;
        background: $violet-11;
      }
      &:disabled {
        color: $white;
        background: $black-color-8;
      }
    }
  }
  .form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    padding: 0;
    .section-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
}
