.ai-chat-modal {
  background: $body-color;
  .modal-content {
    padding: 0px;
    height: 100%;
  }
  .modal-header {
    padding: 40px 16px 16px 16px;
    height: auto;
    background: $body-color;
    .modal-title {
      color: $white;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 M */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
    }
    .btn-close-arrow {
      background-image: url(../images/icon-arrow-right-gray.svg);
      background-size: 12px 12px;
    }
  }
  .modal-body {
    padding: 16px 16px 40px 16px;
    gap: 15px;
    position: relative;
  }
  .group-help {
    .title {
      color: $white;
      font-feature-settings: 'liga' off, 'clig' off;
      /* H3 - 24 R */
      font-family: $font-stack-popins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 133.333% */
      margin-bottom: 24px;
    }
  }
  .group-help-ai-button {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    .item {
      padding: 16px;
      border-radius: 20px;
      border: 1px solid rgba(102, 102, 102, 0.4);
      background: $black-color-15;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      width: calc(50% - 8px);
      max-width: calc(50% - 8px);
      min-height: 132px;
      .wrap-icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        background-color: $gray-5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .name {
        color: $white;
        font-feature-settings: 'liga' off, 'clig' off;
        /* Body - 16 R */
        font-family: $font-stack-popins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.032px;
      }
    }
  }
  .bottom-menu {
    display: flex;
    width: calc(100% - 32px);
    max-width: calc(768px - 32px);
    align-items: flex-end;
    gap: 10px;
    position: fixed;
    bottom: 40px;
    left: auto;
    right: auto;
    .prompt-box {
      display: flex;
      padding: 12px 16px;
      align-items: flex-end;
      flex-wrap: wrap;
      flex: 1 0 0;
      border-radius: 20px;
      border: 1px solid $gray-11;
      background: $black-color-15;
      gap: 12px 8px;
      position: relative;
      .prompt-box-input {
        color: $white;
        font-feature-settings: 'liga' off, 'clig' off;
        /* Body - 16 R */
        font-family: $font-stack-popins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.032px;
        padding: 0;
        border: none;
        background: transparent;
        height: 24px;
        min-height: 24px;
        max-height: 120px;
        width: calc(100% - 52px);
        box-shadow: none;
        outline: none;
        transition: all 0.3s ease;
        &::placeholder {
          color: #ffffff99;
          opacity: 1;
        }
        &:focus,
        &:focus-visible {
          box-shadow: none;
          outline: none;
        }
        display: none;
      }
      #text_area_div {
        width: calc(100% - 64px);
        color: $white;
        font-feature-settings: 'liga' off, 'clig' off;
        /* Body - 16 R */
        font-family: $font-stack-popins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.032px;
        overflow: hidden;

        max-height: 120px;
        width: calc(100% - 52px);
        outline: none;
        position: relative;
        transition: all 0.3s ease;
        p {
          color: $white;
          position: relative;
          white-space: pre-wrap;
          text-overflow: ellipsis;
          word-wrap: break-word;
          word-break: break-all;
          margin: 0;
          outline-style: none;
          outline-width: 0;
          height: 24px;
          cursor: text;
          &::before {
            content: attr(data-placeholder);
            cursor: text;
            pointer-events: none;
            color: #ffffff99;
            position: absolute;
          }
          &.input-focused {
            overflow: auto;
            height: auto;
            min-height: 24px;
            max-height: 120px;
            &::before {
              display: none;
            }
          }
        }
      }
      .btn-send-message {
        margin-bottom: 4px;
      }
      .btn-file {
        margin-bottom: 4px;
      }
      .inclide-files {
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 4px;
        .file {
          padding-top: 2px;
          padding-right: 2px;
          position: relative;
          max-width: calc(33% - 8px);
          .btn-close-border {
            position: absolute;
            top: 0px;
            right: 0px;
          }
        }
      }
    }
  }
}
.ai-chat-new-modal {
  background: $black-color-15;
  .modal-header {
    padding: 40px 24px 12px 24px;
  }
  .modal-body {
    position: relative;
    z-index: 2;
  }
  .modal-footer {
    position: relative;
    width: 100%;
    bottom: 0;
    border: none;
    padding: 0;
    display: block;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
    z-index: 2;
    .bottom-menu {
      position: relative;
      width: 100%;
      bottom: 0;
      margin: 0;
      z-index: 4;
    }
    .voice-record {
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      .voice-naimation {
        text-align: center;
        flex: 1 0 0;
      }
    }
  }
  .modal-content {
    &::before {
      background: $black-color-15;
      position: relative;
      content: '';
      border-radius: 764px;
      opacity: 0.3;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #a67cf3 0%,
        rgba(150, 131, 193, 0.02) 100%
      );
      filter: blur(27.4350643157959px);
      display: block;
      width: 150%;
      height: calc(100% - 44px);
      position: absolute;
      z-index: 1;
      top: auto;
      bottom: 0;
      left: -25%;
    }
  }
  .title {
    color: $white;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline - 18 R */
    font-family: $font-stack-popins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    margin-bottom: 26px;
  }

  .group-help {
    padding-left: 8px;
    padding-right: 8px;
    .group-help-ai-button {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      flex-wrap: wrap;
      .item {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        justify-content: flex-start;
        border-radius: 20px;
        background: rgba(20, 20, 20, 0.8);
        backdrop-filter: blur(10px);
        width: calc(50% - 8px);
        max-width: calc(50% - 8px);
        min-height: 132px;
        .wrap-icon {
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          background-color: $black-color-17;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .bottom-menu {
    .context-menu {
      position: absolute;
      z-index: 3;
      bottom: calc(100% + 9px);
      left: 0;
      margin: 0;
      width: 177px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.wrap-message {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 16px;
}
.dialog {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  gap: 12px;
  flex-wrap: nowrap;
  .chat-img {
    img {
      width: 40px;
      height: 40px;
    }
  }
  .dialog-text-ai {
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & .text:first-child {
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }

  .text {
    color: $white;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 R */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
    width: 100%;
    b {
      font-weight: 500;
    }
  }
  .wrap-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .btn-save {
      color: $black-color;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      display: flex;
      width: 100%;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $gray-5;
      transition: all 0.3s ease;
      &:hover {
        color: $white;
        background: $violet-7;
      }
      &:active {
        color: $white;
        background: $violet-11;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
    .btn-cancel {
      color: $gray-5;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      display: flex;
      width: 100%;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      border: 1px solid $gray-5;
      transition: all 0.3s ease;
      &:hover {
        color: $primary-default;
        border: 1px solid $primary-default;
      }
      &:active {
        color: $violet-11;
        border: 1px solid $violet-11;
      }
      &:disabled {
        color: $black-color-8;
        border: 1px solid $black-color-8;
      }
    }
  }
}
.wrap-dialog-sticker-ai {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
  padding-right: 19px;
  .dialog-sticker-ai {
    display: inline-flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    .text {
      color: $white;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      min-height: auto !important;
    }
    .info {
      color: $white;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
    }
    b {
      font-weight: 500;
    }
  }
}
.dialog-user {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 8px;
  .dialog-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    img {
      border-radius: 32px;
      width: 256px;
      height: 240px;
      object-fit: cover;
      display: block;
    }
    &.dialog-image-group {
      img {
        border-radius: 16px;
        width: 128px;
        height: 120px;
        object-fit: cover;
      }
    }
  }
  .dialog-sticker-user {
    display: inline-flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: $violet-26;
    width: calc(100% - 71px);
  }
  .dialog-image + .dialog-sticker-user {
    margin-top: 4px;
  }
}
.equalizer {
  margin: 0px;
  border-radius: 30px;
}
.ai-chat-new-modal .modal-footer .voice-record {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 50px;
}
.ai-chat-new-modal .modal-footer .voice-record .line {
  width: 100%;
  height: 2px;
  background: #d1c1ff;
  background: linear-gradient(
    0deg,
    rgba(209, 193, 255, 1) 50%,
    rgba(54, 29, 128, 1) 100%
  );
}

.ai-chat-new-modal .modal-footer .voice-record .voice-naimation {
  text-align: center;
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 50px;
  max-width: 250px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
