.wrap-calendar {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 16px;
  padding-bottom: 4px;
  position: relative;

  .switch_view_calendar {
    width: 80px;
    height: 4px;
    border-radius: 0px 0px 4px 4px;
    background: $violet-2;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
  }
  .datepicker-view {
    .datepicker-grid {
      .datepicker-cell {
        display: none;
      }
      .datepicker-cell:nth-child(1),
      .datepicker-cell:nth-child(2),
      .datepicker-cell:nth-child(3),
      .datepicker-cell:nth-child(4),
      .datepicker-cell:nth-child(5),
      .datepicker-cell:nth-child(6),
      .datepicker-cell:nth-child(7) {
        display: flex;
      }
    }
  }
}

.wrap-calendar {
  &.open {
    .datepicker-view {
      .datepicker-grid {
        .datepicker-cell {
          display: flex;
        }
      }
    }
  }
}
.datepicker {
  width: 100%;
  color: $black-color;
  font-family: $font-stack-popins;
}

.datepicker:not(.active) {
  display: none;
}

.datepicker-dropdown {
  position: absolute;
  z-index: 20;
  padding-top: 4px;
}

.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: flex;
  flex-direction: column;
  @include border-radius(20px);
  background: $white;
  padding: 16px;
}
.datepicker-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 16px;
  margin-bottom: 8px;
}
.datepicker-header .datepicker-header .datepicker-controls {
  display: flex;
  align-items: center;
}
.datepicker-header .datepicker-icon {
  width: 36px;
  height: 36px;
  padding: 8px;
  @include border-radius(8px);
  background-color: $primary-default;
  background-image: url(../images/icon-calendar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}
.wrap-calendar-task .datepicker-header .datepicker-icon {
  background-image: url(../images/icon-task.svg);
}
.datepicker-header .datepicker-controls .view-switch {
  order: 0;
  text-align: left;
  color: $black-color;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body - 16 M */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
}
.datepicker-header .datepicker-controls .view-switch span {
  display: block;
}
.datepicker-header .datepicker-controls .view-switch span.year {
  color: $gray-2;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.028px;
}
.datepicker-header .datepicker-controls .prev-button {
  order: 1;
  margin-left: auto;
}
.datepicker-header .datepicker-controls .next-button {
  order: 1;
}
.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.datepicker-main {
  flex: auto;
  padding: 0px;
}

.datepicker-footer {
  background-color: $white;
}

.datepicker-title {
  box-shadow: inset 0 -1px 1px rgba(10, 10, 10, 0.1);
  background-color: hsl(0, 0%, 96%);
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
  width: 100%;
  flex: 0 0 auto;
}

.datepicker-controls {
  display: flex;
  gap: 8px;
}

.datepicker-header .datepicker-controls {
  padding: 0;
  width: calc(100% - 36px - 16px);
}

.datepicker-header .datepicker-controls .button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.datepicker-header .datepicker-controls .button:hover {
  background-color: #f9f9f9;
}

.datepicker-header .datepicker-controls .button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}

.datepicker-header .datepicker-controls .button:active {
  background-color: #f2f2f2;
}

.datepicker-footer .datepicker-controls .button {
  flex: auto;
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 2px;
  font-size: 0.75rem;
}

.datepicker-controls .prev-button,
.datepicker-controls .next-button {
  width: 22px;
  height: 40px;
  background-image: url(../images/next-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.datepicker-controls .prev-button {
  background-image: url(../images/prev-btn.svg);
}

.datepicker-controls .prev-button.disabled,
.datepicker-controls .next-button.disabled {
  visibility: hidden;
}

.datepicker-view,
.datepicker-grid {
  display: flex;
}
.datepicker-grid {
  justify-content: space-between;
  padding: 0px;
  gap: 6px 0px;
}
.datepicker-grid span {
  @include border-radius(8px);
  @include transition(0.3s);
}
.datepicker-view {
  align-items: stretch;
  width: 100%;
}

.datepicker-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
}
.datepicker-grid.months,
.datepicker-grid.years {
  grid-template-columns: repeat(6, 1fr);
}
.datepicker-grid span {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 1px;
  justify-content: center;
  align-items: center;
  @include border-radius(8px);
  @include transition(0.3s);
  border: 1px solid transparent;
}

.datepicker .days {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.datepicker .days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
  margin-bottom: 6px;
}

.datepicker .week-numbers {
  display: flex;
  flex-direction: column;
  flex: 0 0 9.6774193548%;
}

.datepicker .weeks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: auto;
}

.datepicker span {
  color: $black-color;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body - 16 R */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.datepicker .dow {
  color: $black-color;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body - 16 M */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
}

.datepicker .week {
  flex: auto;
  color: hsl(0, 0%, 71%);
  font-size: 0.75rem;
}

.datepicker-cell,
.datepicker .days .dow {
  flex-basis: 14.2857142857%;
}

.datepicker-cell {
  height: 2.25rem;
}

.datepicker-cell:not(.day) {
  height: 24px;
  width: 45px;
  margin-bottom: 6px;
}

.datepicker-cell:not(.disabled):hover {
  background-color: $gray-5;
  cursor: pointer;
}

.datepicker-cell.focused:not(.selected) {
  background-color: $gray-5;
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: $violet-4;
  color: #fff;
  border-color: $violet-4;
}

.datepicker-cell.disabled {
  color: hsl(0, 0%, 86%);
}

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) {
  color: hsl(0, 0%, 48%);
}

.datepicker-cell.prev.selected,
.datepicker-cell.next.selected {
  color: #e6e6e6;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: hsl(0, 0%, 96%);
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(
    .disabled
  ):hover {
  background-color: #efefef;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #e9e9e9;
}

.datepicker-cell.today:not(.selected) {
  background-color: $black-color;
  color: $black-color;
  border-color: $black-color;
}

.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}

.datepicker-cell.today.focused:not(.selected) {
  background-color: #00ccad;
}

.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
  background-color: hsl(0, 0%, 71%);
  color: #fff;
}

.datepicker-cell.range-end.focused:not(.selected),
.datepicker-cell.range-start.focused:not(.selected) {
  background-color: #b1b1b1;
}

.datepicker-cell.range-start:not(.range-end) {
  border-radius: 4px 0 0 4px;
}

.datepicker-cell.range-end:not(.range-start) {
  border-radius: 0 4px 4px 0;
}

.datepicker-cell.range {
  border-radius: 0;
  background-color: hsl(0, 0%, 86%);
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #d6d6d6;
}

.datepicker-cell.range.disabled {
  color: #c5c5c5;
}

.datepicker-cell.range.focused {
  background-color: #d0d0d0;
}

.datepicker-input.in-edit {
  border-color: #3d56c3;
}

.datepicker-input.in-edit:focus,
.datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(61, 86, 195, 0.2);
}
.icon-orange-light-2 .datepicker-icon {
  background-color: $orange-light-2 !important;
}
.wrap-calendar.open .datepicker-view .datepicker-grid .datepicker-cell {
  position: relative;
}
