.wrap-day-schedule {
  padding-top: 16px;
  margin-bottom: 8px;
  .title {
    color: $white-2;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    margin-bottom: 0;
    padding: 0px 16px;
    margin-bottom: 16px;
  }
  .schedule {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
}
