.event-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  position: relative;
  @include transition(0.3s);
  & > div {
    width: 100%;
  }
}
.event {
  color: $black-color;
  gap: 15px;
  justify-content: space-between;
  cursor: pointer;
  @include transition(0.5s);
  .wrap-time {
    width: 67px;
    flex: 0 0 auto;
    align-items: flex-start;
  }
  .event-day {
    width: calc(100% - 15px - 50px);
    @include transition(0.3s);
  }
  .inner {
    gap: 8px;
    .icon + .text {
      width: calc(100% - 20px - 8px);
      @include transition(0.4s);
    }
  }

  .time {
    color: $gray-4;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    margin-bottom: 4px;
    @include transition(0.4s);
    &.time-dailyActivities {
      color: $white;
    }
    &.time-from {
      color: $gray-4;
    }
    &.time-to {
      color: $gray;
    }
  }
  .hour {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 0.04px;
    padding: 2px 4px;
    text-align: center;
    white-space: nowrap;
    @include border-radius(8px);
    background: $gray-5;
    @include transition(0.9s);
  }
  .event-day {
    padding: 8px;
    gap: 10px;
    @include border-radius(12px);
    background: $gray-5;
    min-height: 66px;
    @include transition(0.3s);
    .text {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 146.667% */
      letter-spacing: 0.03px;
      @include transition(0.4s);
    }
    &.event-day-simple {
      min-height: 48px;
      align-items: center;
      @include border-radius(10px);
      @include transition(0.3s);
    }
    .btn-action {
      height: 20px;
      display: flex;
      align-items: center;
      margin-top: auto;
      margin-bottom: auto;
      @include transition(0.3s);
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    padding: 4px;
    display: flex;
    @include border-radius(6px);
    color: $black-color;
    @include transition(0.3s);
    svg {
      width: 12px;
      height: 12px;
      @include transition(0.3s);
    }
  }
}
.properties {
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  flex: 0 0 auto;
  width: calc(75% - 8px);
  @include transition(0.3s);
  .property {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.04px;
    padding: 2px 8px;
    background-color: $blue-2;
    display: flex;
    align-content: center;
    align-items: center;
    @include border-radius(12px);
    @include transition(0.3s);
  }
}
.event {
  .prize-progress {
    gap: 4px;
    flex: 0 0 auto;
    width: calc(25% - 8px);
    @include transition(0.3s);
  }
  .prize-progress-text .number {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Caption2 - 10 M */
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
    letter-spacing: 0.04px;
    @include transition(0.3s);
  }
  .prize {
    width: 16px;
    height: 16px;
    background-image: url(../images/icon-awards-small.svg);
    @include transition(0.3s);
  }
  .prize-progress-text .prizes .prize:nth-child(n + 2) {
    margin-left: -9px;
    @include transition(0.3s);
  }
}
.users {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  @include transition(0.3s);
  .user {
    width: 20px;
    height: 20px;
    position: relative;
    @include transition(0.3s);
    @include border-radius(50%);
    @include transition(0.3s);
    &:nth-child(n + 2) {
      margin-left: -7px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include border-radius(50%);
      @include transition(0.3s);
    }
  }
  .more-user {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: $black-color;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: -0.23px;
    margin-left: 2px;
    @include transition(0.3s);
  }
}
.event-time-line {
  padding-left: 16px;
  padding-right: 16px;
  @include transition(0.4s);
  .item {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
    .time {
      color: $gray-4;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Caption1 - 12 R */
      font-family: $font-stack-popins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      letter-spacing: 0.048px;
      width: 50px;
      position: relative;
      &::before {
        content: attr(data-start);
        display: block;
      }
      &::after {
        content: attr(data-end);
        display: block;
        margin-top: 24px;
      }
      &.none-end::after {
        display: none;
      }
    }
    .events {
      padding-top: 8px;
      width: calc(100% - 50px - 8px);
      @include transition(0.3s);
    }
    .event {
      padding: 8px 0px;
      border-radius: 4px;
      background: $white;
      border-left: 2px solid $blue-5;
      .content-event {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 4px;
        padding: 0px 8px;
        .text {
          color: $black-color;
          font-feature-settings: 'liga' off, 'clig' off;
          /* Caption1 - 12 M */
          font-family: $font-stack-popins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px; /* 150% */
          letter-spacing: 0.048px;
        }
        .time-period {
          color: $black-color;
          font-feature-settings: 'liga' off, 'clig' off;
          /* Caption2 - 10 M */
          font-family: $font-stack-popins;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 14px; /* 140% */
          letter-spacing: 0.04px;
        }
      }
    }
    .line {
      display: block;
      width: 100%;
      height: 0px;
      border: 1px solid $black-color-4;
      background-color: $black-color-4;
      position: relative;
    }
    .line-dot {
      background-color: $pink-2;
      border-color: $pink-2;
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: inherit;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: -1px;
        top: -4px;
      }
    }
  }
}
.event-loading {
  transition: all 0.3s ease;
  .wrap-time {
    .time {
      background: transparent !important;
      color: transparent !important;
      position: relative;

      &:first-child {
        &::before {
          content: '';
          display: block;
          width: 50px;
          height: 8px;
          border-radius: 10px;
          background: $gray-20 !important;
          position: absolute;
          left: 0;
          top: 0;
        }
        &::after {
          content: '';
          display: block;
          width: 38px;
          height: 8px;
          border-radius: 10px;
          background: $gray-20 !important;
          position: absolute;
          left: 0;
          top: 12px;
        }
      }
    }
    .hour {
      background: transparent !important;
      color: transparent !important;
    }
  }
  .btn-action {
    visibility: hidden;
  }
  .event-day {
    background: $black-color-7 !important;
    .inner {
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 38px;
        height: 16px;
        border-radius: 8px;
        background: $gray-20 !important;
        position: absolute;
        left: 0;
        top: 32px;
        transition: all 0.3s ease;
      }
      &::after {
        content: '';
        display: block;
        width: 57px;
        height: 16px;
        border-radius: 8px;
        background: $gray-20 !important;
        position: absolute;
        left: 42px;
        top: 32px;
        transition: all 0.3s ease;
      }
      .icon {
        width: 20px;
        height: 20px;
        background: $gray-20 !important;
        svg {
          visibility: hidden;
        }
      }
    }
    .text {
      position: relative;
      color: transparent !important;
      &::before {
        content: '';
        border-radius: 10px;
        background: $gray-20;
        height: 8px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &::after {
        content: '';
        border-radius: 10px;
        background: $gray-20;
        height: 8px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 16px;
      }
    }
    .properties {
      .property {
        background: $gray-20 !important;
        color: transparent !important;
      }
    }
    .users {
      .user {
        background: transparent !important;
        img {
          visibility: hidden;
        }
      }
      .more-user {
        color: transparent !important;
      }
    }
  }
  .prize-progress {
    .number {
      color: transparent !important;
    }
    .prize {
      filter: brightness(0) saturate(100%) invert(24%) sepia(17%) saturate(9%)
        hue-rotate(132deg) brightness(91%) contrast(79%);
      opacity: 0;
    }
  }
}
