.event-list {
  position: relative;
  @include transition(0.3s);
  .event + .event {
    margin-top: 8px;
  }
}
.event {
  color: $black-color;
  gap: 32px;
  @include transition(0.3s);
  .wrap-time {
    width: 50px;
    flex: 0 0 auto;
  }
  .event-day {
    width: calc(100% - 32px - 50px);
  }
  .inner {
    gap: 8px;
    .icon + .text {
      width: calc(100% - 40px - 8px);
    }
  }

  .time {
    color: $gray-4;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    margin-bottom: 4px;
  }
  .hour {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 0.04px;
    padding: 2px 4px;
    text-align: center;
    white-space: nowrap;
    @include border-radius(8px);
    background: $gray-5;
  }
  .event-day {
    padding: 8px;
    gap: 10px;
    @include border-radius(10px);
    background: $gray-5;
    .text {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 18px */
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    padding: 4px;
    @include border-radius(6px);
    color: $black-color;
    svg {
      width: 12px;
      height: 12px;
    }
  }
}
.properties {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  .property {
    color: $black-color;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 0.04px;
    padding: 4px 8px;
    background-color: $blue-2;
    @include border-radius(8px);
    @include transition(0.3s);
  }
}
.users {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  .user {
    width: 20px;
    height: 20px;
    position: relative;
    @include border-radius(50%);
    @include transition(0.3s);
    &:nth-child(n + 2) {
      margin-left: -7px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include border-radius(50%);
      @include transition(0.3s);
    }
  }
  .more-user {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: $black-color;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: -0.23px;
    margin-left: 2px;
  }
}
