.accounts-lists {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}
.family-members-section {
  display: flex;
  width: 385px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  background: $white;
  width: 100%;
  .user-daily-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
  }
  .user-badge {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $primary-default;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &.user-avatar-queen {
      background-color: $primary-default;
    }
    &.user-avatar-king {
      background-color: $blue-10;
    }
    &.user-avatar-princess {
      background-color: $violet-12;
    }
    &.user-avatar-prince {
      background-color: $blue-9;
    }
  }
  .personal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    .name {
      align-self: stretch;
      color: $black-color-3;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 M */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
    }
    .user-role {
      color: $black-color-2;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Caption1 - 12 R */
      font-family: $font-stack-popins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      letter-spacing: 0.048px;
      display: flex;
      padding: 2px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: $primary-default;
      &.user-role-queen {
        background-color: $primary-default;
      }
      &.user-role-king {
        background-color: $blue-10;
      }
      &.user-role-princess {
        background-color: $primary-default;
      }
      &.user-role-prince {
        background-color: $blue-9;
      }
    }
  }
  .user-score-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    .score {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 R */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 144.444% */
    }
    .income-container {
      width: 20.645px;
      height: 20.645px;
      background-image: url(../images/icon-score.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .btn-icon {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background-color: transparent;
    background-image: url(../images/icon-arrow-right.svg);
    border: none;
  }
}
.family-members-section-shadow {
  box-shadow: 0px 3px 5px 0px rgba(128, 68, 238, 0.1);
}
.family-members-section-dashboard {
  display: flex;
  width: 100%;
  padding: 20px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  .title {
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    /* H3 - 24 M */
    font-family: $font-stack-popins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
  }
}
