footer {
  width: 100%;
  background-color: $body-color;
  left: 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 3;
  .container-fluid {
    padding: 7px 16px;
    gap: 10px 10px;
    position: relative;
    max-width: 768px;
  }

  &.show-context-menu-user {
    &::before {
      content: '';
      background: rgba(30, 30, 30, 0.2);
      backdrop-filter: blur(10px);
      width: 100%;
      height: 100svh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 4;
      overflow: hidden;
    }
  }
  .btn-user {
    &.show-menu {
      position: relative;
      z-index: 5;
    }
  }
}
