footer {
  padding: 7px 16px;
  gap: 10px 10px;
  background-color: $body-color;
  max-width: 768px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 3;
  &.show-context-menu-user {
    &::before {
      content: '';
      content: '';
      background: rgba(30, 30, 30, 0.2);
      backdrop-filter: blur(10px);
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 4;
    }
  }
  .btn-user {
    &.show-menu {
      position: relative;
      z-index: 5;
    }
  }
}
