button,
.btn {
  color: $black;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body - 16 R */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
  @include transition(0.3s);
  &:hover {
    color: $black;
  }
  &.active,
  &:active,
  &:focus {
    color: $black;
  }
}
.btn-light {
  color: $black;
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $gray-5;
  background: $gray-5;
  &:hover {
    color: $black !important;
    background: $gray-5 !important;
    border: 1px solid $gray-5 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $gray-5 !important;
    border: 1px solid $gray-5 !important;
  }
}
.btn-light-2 {
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $gray-9;
  background: $gray-9;
  &:hover {
    color: $black !important;
    background: $gray-9 !important;
    border: 1px solid $gray-9 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $gray-9 !important;
    border: 1px solid $gray-9 !important;
  }
}
.btn-dark {
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $black-color-8;
  background: $black-color-8;
  color: $gray-10;
  &:hover {
    color: $black !important;
    background: $gray-9 !important;
    border: 1px solid $gray-9 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $gray-9 !important;
    border: 1px solid $gray-9 !important;
  }
}
.btn-icon {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  @include border-radius(8px);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $primary-default;
    width: 40px;
    height: 40px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $white;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $white;
    }
  }
}
.btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: inherit;
    width: 16px;
    height: 16px;
  }
}
.btn-home {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-calendar {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-add {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  @include border-radius(40px);
  border: none;
  background: $primary-default;
  box-shadow: 0px 4px 4px 0px #dddcff inset;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $black-color;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: $white-2;
  }
  &:active,
  &:focus {
    background: $white-2;
  }
}
.btn-add-plus {
  display: flex;
  width: 46px;
  height: 46px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(50%);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
}
.btn-add-plus-2 {
  width: 48px;
  height: 48px;
  padding: 12px 14px;
}
.btn-add-plus-full {
  display: flex;
  max-width: 329px;
  width: 100%;
  height: 46px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(40px);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
}
.btn-list {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-action {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $black-color;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  &:hover {
    color: $gray-2;
    background: transparent;
    svg {
      fill: $gray-2;
    }
  }
  &:active,
  &:focus {
    background: transparent;
  }
}
.btn-user {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 25px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-list-area {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  @include border-radius(8px);
  background-image: url(../images/list-icon-area.svg);
  background-color: $primary-default;
  &:hover {
    background-color: $primary-default;
  }
  &.active,
  &:active,
  &:focus {
    background: $body-color;
    background-image: url(../images/list-icon-area-active.svg);
  }
}
.btn-options {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 32px;
  width: 32px;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: currentColor;
    width: 32px;
    height: 4px;
  }
  &:hover {
    color: $white;
    background: transparent;
    svg {
      fill: $white;
    }
  }
  &:active,
  &:focus {
    background: transparent;
  }
}
.btn-close {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  padding: 0;
  background-size: cover;
}
.btn-close-gray {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-close-gray.svg);
  background-size: 8px;
}
.btn-sort {
  padding: 0px;
  border: none;
  background-color: transparent;
  color: $white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $white;
    width: 16px;
    height: 16px;
  }
  &:hover {
    color: $white;
    background: $primary-default;
    svg {
      fill: $black;
      @include transition(0.3s);
    }
  }
  &:active,
  &:focus,
  &.active {
    background: $primary-default;
    svg {
      fill: $black;
    }
  }
  &[data-default='desc'] {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
.btn-task-filter {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 40px;
  width: 40px;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $white;
    width: 40px;
    height: 40px;
  }
  &:hover {
    color: $white;
    background: $primary-default;
    svg {
      fill: $black;
      @include transition(0.3s);
    }
  }
  &:active,
  &:focus,
  &.active {
    background: $primary-default;
    svg {
      fill: $black;
    }
  }
}
.form-check-input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 0.25em;
  background-color: transparent;
  background-image: url(../images/icon-for-check.svg);
  border: none;
  border-radius: 4px;
  @include transition(0.3s);
}
.form-check-input:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-check-input:checked[type='checkbox'] {
  background-image: url(../images/icon-for-check-cheked.svg);
}
.form-check {
  padding-left: 24px;
  .form-check-label {
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Callout - 15 R */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
  }
}
.context-menu {
  button {
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Callout - 15 R */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    display: flex;
    height: 52px;
    padding: 12px 4px 12px 12px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    background-color: $white;
    border: 0;
    width: 100%;
    @include border-radius(12px);
    @include transition(0.3s);
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $black;
      width: 16px;
      height: 16px;
    }
    &:hover {
      color: $blue-5;
      svg {
        fill: $blue-5;
      }
    }
    &.active,
    &:active,
    &:focus {
      color: $primary-default;
      svg {
        fill: $primary-default;
      }
    }
  }
}
.form {
  .row-form {
    width: 100%;
    gap: 7px;
    .col {
      width: calc(50% - 7px);
    }
  }
}
.form-control {
  color: $gray-7;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Headline - 18 R */
  font-family: $font-stack-popins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  padding: 8px 8px 8px 16px;
  border: none;
  @include border-radius(12px);
  @include transition(0.3s);
  background-color: $black-color-5;
  &::placeholder {
    color: $gray-7;
    opacity: 1;
  }
  &:focus {
    color: $gray-7;
    background-color: $black-color-5;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
  }
}
textarea.form-control {
  height: 90px;
  resize: vertical;
}
.form-number {
  width: 62px;
  padding: 8px 12px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.form-control-date {
  position: relative;
  background-image: url(../images/icon-calendar-gray.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 14px;
  background-size: 16px 16px;
  &::before {
    content: attr(placeholder);
    color: $gray-7;
    background-color: $black-color-5;
    position: absolute;
    @include transition(0.3s);
  }
  &:focus::before,
  &.hide-placeholder::before {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
    background-image: none;
  }
}

.form-select {
  color: $gray-7;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Headline - 18 R */
  font-family: $font-stack-popins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  padding: 8px 8px 8px 16px;
  border: none;
  @include border-radius(12px);
  @include transition(0.3s);
  background-color: $black-color-5;
  background-image: url(../images/icon-down.svg);
  background-position: calc(100% - 12px) 16px;
  background-size: 12px 12px;
  &:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: none;
  }
}
.form-group {
  .form-label {
    overflow: hidden;
    color: $white;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    /* Callout - 15 M */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    margin-bottom: 8px;
  }
  .form-group-count {
    display: flex;
    align-items: center;
    gap: 8px;
    .counter {
      cursor: pointer;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .minus {
      background-image: url(../images/icon-minus.svg);
    }
    .plus {
      background-image: url(../images/icon-plus.svg);
    }
  }
  .bottom-text {
    color: rgba(255, 255, 255, 0.5);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Caption1 - 12 R */
    font-family: $font-stack-popins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.048px;
    margin-top: 8px;
    display: block;
  }
}
