button,
.btn {
  color: $black;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body - 16 R */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
  @include border-radius(12px);
  @include transition(0.3s);
  &:hover {
    color: $black;
  }
  &.active,
  &:active,
  &:focus {
    color: $black;
  }
}
.btn-primary {
  padding: 12px 16px;
  color: $white;
  background: $violet-10;
  border: 1px solid $violet-10;
  &:disabled {
    color: $gray-16;
    padding: 12px 16px;
    @include border-radius(12px);
    border: 1px solid $gray-15;
    background: $gray-15;
  }
  &:hover {
    color: $white;
    background: $violet-10;
    border: 1px solid $violet-10;
  }
  &.active,
  &:active,
  &:focus {
    color: $white;
    background: $violet-10;
    border: 1px solid $violet-10;
  }
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: $white;
  background-color: $violet-10;
  border-color: $violet-10;
}
.btn-sm {
  display: flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}
.btn-light {
  color: $black;
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $gray-5;
  background: $gray-5;
  &:disabled,
  &.disabled {
    border: 1px solid $black-color-8;
    background: $black-color-8;
    color: $gray-10;
  }
  &:hover {
    border: 1px solid $violet-7;
    background: $violet-7;
    color: $black-color;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $white-2 !important;
    border: 1px solid $white-2 !important;
  }
}
.btn-light-2 {
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $gray-9;
  background: $gray-9;
  &:hover {
    color: $black !important;
    background: $white-2 !important;
    border: 1px solid $white-2 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $white-2 !important;
    border: 1px solid $white-2 !important;
  }
}
.btn-light-3 {
  color: $gray-16;
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $gray-15;
  background: $gray-15;
  &:hover {
    color: $black !important;
    background: $gray-15 !important;
    border: 1px solid $gray-15 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $gray-15 !important;
    border: 1px solid $gray-15 !important;
  }
}
.btn-outline-light {
  color: $gray-5;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid $gray-5;
  padding: 12px 16px;
  &.active,
  &:active,
  &:focus {
    color: $white-2;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid $white-2;
  }
}
.btn-dark {
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $black-color-8;
  background: $black-color-8;
  color: $gray-10;
  &:hover {
    color: $black !important;
    background: $gray-9 !important;
    border: 1px solid $gray-9 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $gray-9 !important;
    border: 1px solid $gray-9 !important;
  }
}
.btn-dark-2 {
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $body-color;
  background: $body-color;
  color: $white;
  &:hover {
    color: $white !important;
    background: $black-color-8 !important;
    border: 1px solid $black-color-8 !important;
  }
  &.active,
  &:active,
  &:focus {
    color: $white !important;
    background: $black-color-8 !important;
    border: 1px solid $black-color-8 !important;
  }
}
.btn-icon {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  @include border-radius(8px);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $primary-default;
    width: 40px;
    height: 40px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $white;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $white;
    }
  }
}
.btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: inherit;
    width: 16px;
    height: 16px;
  }
}
.btn-home {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-calendar {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-add {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  @include border-radius(40px);
  border: none;
  background: $primary-default;
  box-shadow: 0px 4px 4px 0px #dddcff inset;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $black-color;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: $violet-14;
    box-shadow: 0px 4px 4px 0px #dddcff inset;
  }
  &:active,
  &:focus {
    background: $white-2;
  }
}
.btn-add-plus {
  display: flex;
  width: 46px;
  height: 46px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(50%);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
  &.show {
    border: 1px solid $violet-11;
    svg {
      fill: $violet-11;
    }
  }
}
.btn-add-plus-2 {
  width: 48px;
  height: 48px;
  padding: 12px 14px;
}
.btn-add-plus-full {
  display: flex;
  max-width: 329px;
  width: 100%;
  height: 46px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(40px);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
  &.show {
    border: 1px solid $violet-11;
    svg {
      fill: $violet-11;
    }
  }
}
.btn-flex {
  flex: 1 0 0%;
  width: 100%;
  @include border-radius(40px);
  height: 46px;
  min-width: 48px;
}
.btn-list {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-action {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $black-color;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  &:hover {
    color: $gray-2;
    background: transparent;
    svg {
      fill: $gray-2;
    }
  }
  &:active,
  &:focus {
    background: transparent;
  }
}
.btn-user {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 25px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-list-area {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  @include border-radius(8px);
  background-image: url(../images/list-icon-area.svg);
  background-color: $primary-default;
  &:hover {
    background-color: $primary-default;
  }
  &.active,
  &:active,
  &:focus {
    background: $body-color;
    background-image: url(../images/list-icon-area-active.svg);
  }
}
.btn-options {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 32px;
  width: 32px;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: currentColor;
    width: 32px;
    height: 4px;
  }
  &:hover {
    color: $white;
    background: transparent;
    svg {
      fill: $white;
    }
  }
  &:active,
  &:focus {
    background: transparent;
  }
}
.btn-close {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  padding: 0;
  background-size: cover;
}
.btn-close-gray {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-close-gray.svg);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-icon-down {
  width: 12px;
  height: 12px;
  background-image: url(../images/icon-down.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.btn-sort {
  padding: 0px;
  border: none;
  background-color: transparent;
  color: $white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $white;
    width: 16px;
    height: 16px;
  }
  &:hover {
    color: $white;
    background: $primary-default;
    svg {
      fill: $black;
      @include transition(0.3s);
    }
  }
  &:active,
  &:focus,
  &.active {
    background: $primary-default;
    svg {
      fill: $black;
    }
  }
  &[data-default='desc'] {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
.btn-task-filter {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 40px;
  width: 40px;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $white;
    width: 40px;
    height: 40px;
  }
  &:hover {
    color: $white;
    background: $primary-default;
    svg {
      fill: $black;
      @include transition(0.3s);
    }
  }
  &:active,
  &:focus,
  &.active {
    background: $primary-default;
    svg {
      fill: $black;
    }
  }
}
.btn-collapse {
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $gray-5;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body - 16 R */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.032px;
  transition: all 0.3 ease;
  span {
    transition: all 0.3s ease;
  }
  .yes-collapsed {
    color: $gray-5;
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 48px;
      height: 48px;
      padding: 12px 14px;
    }
  }
  .no-collapsed {
    color: $violet-11;
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 48px;
      height: 48px;
    }
  }
  &.collapsed {
    .yes-collapsed {
      color: $gray-5;
      display: block;
    }
    .no-collapsed {
      opacity: 0;
      display: none;
    }
  }
  &:not(.collapsed) {
    .yes-collapsed {
      opacity: 0;
      display: none;
    }
    .no-collapsed {
      opacity: 1;
      display: block;
    }
  }
}
.form-check-input[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 0.25em;
  background-color: transparent;
  background-image: url(../images/icon-for-check.svg);
  border: none;
  border-radius: 4px;
  @include transition(0.3s);
}
.form-check-input:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-check-input:checked[type='checkbox'] {
  background-image: url(../images/icon-for-check-cheked.svg);
}
.form-check {
  padding-left: 24px;
  .form-check-label {
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Callout - 15 R */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
  }
}
.form-switch .form-check-input[type='checkbox'] {
  width: 36px;
  height: 20px;
  padding: 2px 2px 2px 18px;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 100px;
  background-color: $gray-22;
  transition: background-position 0.15s ease-in-out;
}
.form-switch .form-check-input:checked {
  background-color: $blue-2;
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23A073F2'/%3e%3c/svg%3e");
}

.form {
  .row-form {
    width: 100%;
    gap: 7px;
    .col {
      width: calc(50% - 7px);
    }
  }
}
.form-group {
  position: relative;
}
.form-control {
  color: $white;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: $font-stack-popins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: 0.03px;
  padding: 8px 12px 8px 16px;
  border: 0px solid transparent;
  @include border-radius(12px);
  @include transition(0.3s);
  background-color: $black-color-5;
  height: 48px;
  &::placeholder {
    color: $gray-7;
    opacity: 1;
  }
  &:focus {
    color: $white;
    background-color: $black-color-5;
    border-color: transparent;
    outline: 0;
    box-shadow: 0px 0px 0px 4px rgba(211, 191, 249, 0.4);
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  border-radius: 12px;
  border: 0px solid $black-color-5;
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px $black-color-5 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
.form-control-gray {
  background-color: $gray-14 !important;
  color: $black-color;
  &::placeholder {
    color: $gray-7;
    opacity: 1;
  }
  &:focus {
    color: $black-color;
  }
}
.form-control-dropdown {
  padding: 8px 12px 8px 16px;
  cursor: pointer;
  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(211, 191, 249, 0.4);
  }
  &.show {
    & + .input-icon {
      transform: rotate(180deg);
    }
  }
}
textarea.form-control {
  height: 90px;
  resize: vertical;
  position: relative;
  background-image: url(../images/icon-resizer.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 7px) calc(100% - 7px);
}
.form-number {
  width: 62px;
  padding: 8px 12px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='password'],
.form-control-password {
  & + .input-group-text {
    background-image: url(../images/icon-eye.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 15px;
    background-size: 20px 20px;
  }
  &:focus + .input-group-text {
    background-image: url(../images/icon-eye-white.svg);
  }
}
.input-group > .form-select {
  width: 100%;
}
.input-group > .form-select:focus {
  z-index: 11;
  & + .input-group-text {
    z-index: 12;
  }
}

.input-icon-reset {
  position: relative;
  .input-group-text {
    position: absolute;
    height: 100%;
    right: 0;
    min-width: auto;
    z-index: 10;
  }

  .form-control,
  .form-select {
    border-radius: 12px !important;
    &:valid {
      & + .reset-value {
        display: block;
      }
    }
  }
}
.form-control-date {
  position: relative;
  &::before {
    content: attr(placeholder);
    color: $gray-7;
    background-color: $black-color-5;
    position: absolute;
    @include transition(0.3s);
  }
  &:focus::before,
  &.hide-placeholder::before {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
    background-image: none;
  }
}

.form-control-date {
  & + .air-datepicker.-inline- {
    display: none;
  }
  &.form-control-open-calendar + .air-datepicker.-inline- {
    display: block;
    position: absolute;
    top: 56px;
    left: 0;
    margin-top: 0px;
    border-radius: 20px !important;
    .wrap-week {
      display: none;
    }
  }
  &:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: 0px 0px 0px 4px rgba(211, 191, 249, 0.4);
  }
}
.form-control-open-calendar {
  border-color: inherit;
  outline: 0;
  box-shadow: 0px 0px 0px 4px rgba(211, 191, 249, 0.4);
}

.form-select {
  color: $white;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Headline - 18 R */
  font-family: $font-stack-popins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: 0.03px;
  padding: 8px 12px 8px 16px;
  border: none;
  @include border-radius(12px);
  @include transition(0.3s);
  background-color: $black-color-5;
  background-image: url(../images/icon-down.svg);
  background-position: calc(100% - 12px) 20px;
  background-size: 12px 12px;
  height: 48px;
  &:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: 0px 0px 0px 4px rgba(211, 191, 249, 0.4);
  }
}
.form-group {
  .form-label {
    overflow: hidden;
    color: $white;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    /* Callout - 15 M */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-bottom: 8px;
  }
  .form-group-count {
    display: flex;
    align-items: center;
    gap: 8px;
    .counter {
      cursor: pointer;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
    }
    .minus {
      background-image: url(../images/icon-minus.svg);
    }
    .plus {
      background-image: url(../images/icon-plus.svg);
    }
  }
  .bottom-text {
    color: rgba(255, 255, 255, 0.5);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Caption1 - 12 R */
    font-family: $font-stack-popins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.048px;
    margin-top: 8px;
    display: inline-block;
    a {
      color: $primary-default;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }
}

.form_login {
  display: flex;
  height: calc(100dvh - 144px);
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  .form_header {
    margin-bottom: 64px;
    .title {
      color: $white-2;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 128.571% */
    }
    .text {
      color: $white-2;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      margin-top: 8px;
    }
  }
  .form-group {
    margin-bottom: 14px;
  }
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
  color: $red-2;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  /* Footnote - 14 R */
  font-family: $font-stack-popins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.028px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F75757' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 14px;
  padding-left: 22px;
}

.form-group-check {
  display: flex;
  align-items: flex-start;
  gap: 12px 20px;
  flex-wrap: wrap;
  .form-check {
    display: flex;
    padding: 0;
    margin: 0;
    .form-check-input {
      display: none;
    }
    .form-check-label {
      color: $black;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.028px;
      border-radius: 8px;
      background: $blue-2;
      display: flex;
      height: 24px;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      flex: 1 0 0;
      min-width: 67px;
      @include border-radius(8px);
      @include transition(0.3s);
      cursor: pointer;
    }
    .form-check-input:checked + .form-check-label {
      color: $white;
      background: $violet-10;
    }
  }
}

.form-create-event {
  .collapse.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

.wrap-progress {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .progress-validation {
    position: relative;
    z-index: 2;
  }
}
.progress-validation {
  height: 4px;
  border-radius: 4px;
  background: $gray-18;
  position: relative;
  .progress-bar {
    background-color: $green;
  }
}
.invalid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  margin-top: 8px;
  .progress {
    width: 100%;
  }
  .error {
    overflow: hidden;
    color: $red-2;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    /* Caption2 - 10 R */
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 0.04px;
    background-image: url(../images/icon-invalid.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
  }
  .error-validation {
    color: $gray;
    /* Body/Regular */
    font-family: $font-stack-roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    transition: all 0.3s ease;
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid $gray-19;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s ease;
    }
    &.check {
      &::before {
        border: 1px solid $green;
        background-color: $green;
        background-image: url(../images/icon-check.svg);
      }
    }
  }
}
.invalid-custom {
  position: relative;
  transition: all 0.3s ease;
  .wrap-progress {
    position: relative;
    top: 0px;
  }
}
.forgot-password {
  width: 100%;
  margin-top: 12px;
  a {
    overflow: hidden;
    color: $primary-default;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    /* Callout - 15 M */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}
.dropdown-tag {
  &.show {
  }
}
