button,
.btn {
  @include transition(0.3s);
}
.btn-icon {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  @include border-radius(8px);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $primary-default;
    width: 40px;
    height: 40px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $white;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $white;
    }
  }
}
.btn-home {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-calendar {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-add {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  @include border-radius(40px);
  border: none;
  background: $primary-default;
  box-shadow: 0px 4px 4px 0px #dddcff inset;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $black-color;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: $white-2;
  }
  &:active,
  &:focus {
    background: $white-2;
  }
}
.btn-add-plus {
  display: flex;
  width: 46px;
  height: 46px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(50%);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
}
.btn-add-plus-full {
  display: flex;
  max-width: 329px;
  width: 100%;
  height: 46px;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(40px);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
}
.btn-list {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 24px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-action {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $black-color;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
  &:hover {
    color: $gray-2;
    background: transparent;
    svg {
      fill: $gray-2;
    }
  }
  &:active,
  &:focus {
    background: transparent;
  }
}
.btn-user {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
  background: transparent;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray;
    width: 24px;
    height: 25px;
  }
  &:hover {
    background: $white;
    svg {
      fill: $black;
    }
  }
  &.active,
  &:active,
  &:focus {
    background: $white;
    svg {
      fill: $black;
    }
  }
}
.btn-list-area {
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 40px;
  height: 40px;
  @include border-radius(8px);
  background-image: url(../images/list-icon-area.svg);
  background-color: $primary-default;
  &:hover {
    background-color: $primary-default;
  }
  &.active,
  &:active,
  &:focus {
    background: $body-color;
    background-image: url(../images/list-icon-area-active.svg);
  }
}
.btn-options {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 32px;
  width: 32px;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: currentColor;
    width: 32px;
    height: 4px;
  }
  &:hover {
    color: $white;
    background: transparent;
    svg {
      fill: $white;
    }
  }
  &:active,
  &:focus {
    background: transparent;
  }
}
.btn-close {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  padding: 0;
  background-size: cover;
}
.btn-close-gray {
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-close-gray.svg);
  background-size: 8px;
}
.btn-sort {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 40px;
  width: 40px;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $white;
    width: 40px;
    height: 40px;
  }
  &:hover {
    color: $white;
    background: $primary-default;
    svg {
      fill: $black;
      @include transition(0.3s);
    }
  }
  &:active,
  &:focus,
  &.active {
    background: $primary-default;
    svg {
      fill: $black;
    }
  }
}
.btn-task-filter {
  padding: 0;
  border: none;
  background-color: transparent;
  color: $white;
  height: 40px;
  width: 40px;
  @include border-radius(8px);
  @include transition(0.3s);
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $white;
    width: 40px;
    height: 40px;
  }
  &:hover {
    color: $white;
    background: $primary-default;
    svg {
      fill: $black;
      @include transition(0.3s);
    }
  }
  &:active,
  &:focus,
  &.active {
    background: $primary-default;
    svg {
      fill: $black;
    }
  }
}
.context-menu {
  button {
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Callout - 15 R */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    display: flex;
    height: 52px;
    padding: 12px 4px 12px 12px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    background-color: $white;
    border: 0;
    width: 100%;
    @include border-radius(12px);
    @include transition(0.3s);
    svg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      fill: $black;
      width: 16px;
      height: 16px;
    }
    &:hover {
      color: $blue-5;
      svg {
        fill: $blue-5;
      }
    }
    &.active,
    &:active,
    &:focus {
      color: $primary-default;
      svg {
        fill: $primary-default;
      }
    }
  }
}
