.form-create-event,
.modal form.form-create-event {
  gap: 32px;
  .wrap-section-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    position: relative;
    height: 100%;
  }
  .section-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
  }
  .collapse.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}
