.task-container {
  display: flex;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

/* Вторая обертка для кнопок */
.task-wrapper {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

/* Скрываем стандартные radio-кнопки */
.radio-task {
  display: none;
}

/* Стили для контейнера кнопки */
.task-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 12px 16px;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 12px;
  border: 1px solid transparent;
  background: #2E2E2E;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: border 0.3s ease, background 0.3s ease;
}

/* Фиолетовая обводка при наведении */
.task-tab:hover {
  border: 1px solid #A073F2;
}

/* Стили для иконки (чекбокса) */
.checkmark {
  display: none;
  width: 16px;
  height: 16px;
  background: url("../images/icon-for-check-cheked.svg") center/contain no-repeat;
}

/* Показываем иконку только у активного элемента */
.radio-task:checked + .task-tab {
  border: 1px solid #A073F2;
  background: #2E2E2E;
}

.radio-task:checked + .task-tab .checkmark {
  display: flex;
}
.btn-add-plus {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 12px 14px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: 1px solid $gray-6;
  @include border-radius(50%);
  background: transparent;
  svg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    fill: $gray-6;
    width: 20px;
    height: 20px;
  }
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &:active,
  &:focus {
    background: transparent;
    border: 1px solid $white;
  }
  &.show {
    border: 1px solid $violet-11;
    svg {
      fill: $violet-11;
    }
  }
}
.date_info_container {
  display: inline-flex;
padding: 0px 16px;
padding-bottom: 16px;
justify-content: space-between;
align-items: center;
.text {
  color: #F6F6F6;
text-align: right;
font-feature-settings: 'liga' off, 'clig' off;

/* Headline - 18 M */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
}
}
.user-icon-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.user_task{
  display: flex;
align-items: center;
gap: 16px;
}
