.create-an-account-empty-45a  .bottom-text {
  color: rgba(255, 255, 255, 0.5);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Caption1 - 12 R */
  font-family: $font-stack-popins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.048px;
  margin-top: 8px;
  display: inline-block;
  a {
    color: $primary-default;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
.create-an-account-empty-45a .form-label[for="name"] {
  margin-top: 20px;
  display: block;
}
.create-an-account-button {
  color: $black;
  margin-top: -16px;
  padding: 12px 16px;
  @include border-radius(12px);
  border: 1px solid $gray-5;
  background: $gray-5;
  &:disabled,
  &.disabled {
    border: 1px solid $black-color-8;
    background: $black-color-8;
    color: $gray-10;
  }
  &:hover {
    border: 1px solid $violet-7;
    background: $violet-7;
    color: $black-color;
  }
  &.active,
  &:active,
  &:focus {
    color: $black !important;
    background: $white-2 !important;
    border: 1px solid $white-2 !important;
  }
}
.add-a-new-member-fraim-46a .form-label[for="nickname"] {
  margin-top: 24px;
  display: block;
}
.section-inner:last-of-type {
  margin-top: -20px; 
}
body[data-page="log-in-empty-fraim-50a"] .modal .form {
  gap: 24px !important;
}
body[data-page="log-in-empty-fraim-50a"] .form-log-in .form-section {
  gap: 20px !important;
}