header {
  width: 100%;
  background-color: $body-color;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 4;
  .container-fluid {
    padding: 12px 16px;
    gap: 10px 10px;
    position: relative;
    max-width: 768px;
  }
  .wrap_logo {
    a {
      color: $white;
      font-family: $font-stack-quicksand;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 28.8px */
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .user_badge {
    gap: 12px 12px;
    &.user_badge_notification {
      gap: 16px 16px;
    }
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .user_name {
      color: $white;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 M */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
      margin-bottom: 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
      @media (max-width: 480px) {
        max-width: 170px;
      }
    }
    .user_role {
      color: $black-color-2;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Caption1 - 12 M */
      font-family: $font-stack-popins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 150% */
      letter-spacing: 0.048px;
      text-align: center;
      padding: 2px 8px;
      background-color: $white;
      @include border-radius(8px);
      @include transition(0.3s);
    }
    .notification {
      display: flex;
      width: 40px;
      height: 40px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      svg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
      }
    }
  }
}
