.imageLightBox {
  position: fixed;
  padding: 72px 16px 40px 16px;
  width: 100%;
  max-width: 768px;
  height: 100dvh;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1060;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  .btn-close-border {
    width: 44px;
    height: 44px;
    background-size: 24px;
    position: absolute;
    right: -4px;
    top: -18px;
  }
  .wrap-body {
    text-align: center;
    position: relative;
    transform: scale(0.5) translate(-100%, 50%);
    transition: all 0.3s ease;
    height: 100%;
    width: auto;
    .wrap-img {
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 100%;
    }
    img {
      border-radius: 32px;
      background: $gray-21;
      object-fit: cover;
      display: block;
      height: 100%;
    }
  }
  &.show {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    .wrap-body {
      transform: scale(1) translate(0, 0);
      transition: all 0.3s ease;
    }
  }
}
