.input-group-text {
  color: $gray-7;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: $font-stack-popins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: 0.03px;
  border: none;
  @include border-radius(12px);
  @include transition(0.3s);
  background-color: transparent;
  z-index: 5;
}
.input-group {
  position: relative;
  border-radius: 12px !important;
  &::before {
    content: '';
    background-color: $black-color-5;
    height: 48px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px !important;
  }
  .form-control {
    border-radius: 12px !important;
    padding-right: 40px;
    background-color: transparent;
    z-index: 2;
  }
  .input-group-text {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 40px;
    border-radius: 12px !important;
    padding: 8px 12px 8px 8px;
    z-index: 1;
    &:last-child {
      border-radius: 0px 12px 12px 0px;
      padding: 8px 12px 8px 8px;
      width: 40px;
    }
  }
}
.input-group.input-group-password {
  background-color: transparent;
  .form-control {
    background-color: $black-color-5;
    z-index: 1;
    &:focus {
      z-index: 1;
    }
  }
  .input-group-text {
    z-index: 5;
  }
}
.input-group-reset {
  .form-control {
    border-radius: 12px !important;
    padding-right: 80px;
    cursor: pointer;
  }
  .form-select {
    border-radius: 12px !important;
  }
  .input-reset-value {
    display: none;
    width: 10px;
    right: 40px;
    padding: 8px 0px 8px 8px;
    z-index: 3;
  }
  .form-select + .input-reset-value {
    right: 20px;
  }
}

.input-icon-down {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/icon-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
  }
}
.input-icon-calendar {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/icon-calendar-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
  }
}
.input-reset-value {
  display: block;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/icon-close-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    transition: all 0.3s ease;
  }
}
.input-group-select {
  .form-control {
    border-radius: 12px !important;
  }
  .input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    border-radius: 0px 12px 12px 0px !important;
    width: 40px;
  }
  .form-control.show + .input-icon-down {
    &::before {
      content: '';
      transform: rotate(180deg);
    }
  }
}
