.modal-backdrop.show {
  opacity: 0;
}
.modal {
  padding-bottom: 69px;
}
.modal-dialog {
  max-width: 768px;
  width: 100%;
  margin-top: 0;
  height: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.modal-content {
  border: none;
  border-radius: 0;
  background-color: $body-color;
  height: 100%;
}
.modal-header {
  justify-content: space-between;
  padding: 16px;
  border: none;
  border-radius: 0;
  background: linear-gradient(180deg, #ede3ff 57.32%, #8e8899 181.25%);
  .modal-title {
    color: $black-color;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Headline - 18 M */
    font-family: $font-stack-popins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    margin-bottom: 0;
  }
  .btn-close {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    padding: 0;
    background-size: cover;
    margin: 0;
  }
}
.modal-body {
  padding: 0;
  .title-section {
    display: inline-flex;
    padding: 24px 16px;
    justify-content: space-between;
    align-items: center;
    .title {
      color: $white-2;
      font-feature-settings: 'liga' off, 'clig' off;
      /* H3 - 24 M */
      font-family: $font-stack-popins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
    }
    .title-2 {
      color: $white;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
    }
  }
  .info-group {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    .row {
      display: flex;
      gap: 8px;
      .col {
        color: $white-2;
        font-feature-settings: 'liga' off, 'clig' off;
        /* Headline - 18 SB */
        font-family: $font-stack-popins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 144.444% */
      }
      .col:first-child {
        font-weight: 600;
      }
    }
  }
  .section-members-list {
    .title {
      margin-bottom: 16px;
    }
  }
}
.modal {
  .modal-context-menu {
    display: block;
    position: absolute;
    background: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(10px);
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 768px;
    pointer-events: auto;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    @include transition(0.3s);
    .context-menu {
      display: block;
      position: relative;
      z-index: 1;
      margin-left: auto;
      margin-right: 16px;
      margin-top: 60px;
      @include transition(0.3s);
    }
    &.show {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 2;
      @include transition(0.3s);
    }
  }
}
.modal {
  form {
    display: flex;
    padding: 40px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    .form-group {
      margin-bottom: 0;
      width: 100%;
    }
  }
}
