.wrapper-openning-screen {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.openning-screen {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: inline-flex;
  padding: 40px 16px 40px 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 47px;
  background: $primary-default;
  .wrap-images {
    width: 287.489px;
    height: 308px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
    }
    .female_sitting {
      width: 186.205px;
      height: 215.483px;
      bottom: 1px;
      left: 74px;
      right: 0;
    }
    .vase_with_tulips {
      width: 47.019px;
      height: 67.916px;
      bottom: 0;
      left: 14.05px;
    }
    .blue_stopwatch {
      width: 52.243px;
      height: 65.304px;
      top: 0;
      left: 43px;
    }
    .multicolored {
      width: 72.608px;
      height: 49.186px;
      right: 6.42px;
      bottom: 76px;
      z-index: 2;
    }
    .pie_chart {
      width: 33.958px;
      height: 33.958px;
      top: 144.98px;
      left: 19px;
    }
    .pink_coffee_cup {
      width: 23.51px;
      height: 28.734px;
      left: 0px;
      bottom: 0px;
    }
    .blue_desk_calendar {
      top: 78px;
      right: 0;
      width: 36.712px;
      height: 31.15px;
      transform: rotate(12.86deg);
    }
  }
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .text {
    h2 {
      color: $black-color;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* H2 - 28 M */
      font-family: $font-stack-popins;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 128.571% */
      margin-bottom: 8px;
    }
    p {
      color: $gray-30;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0px;
    }
  }
  .wrap-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    width: 100%;
    .form-group {
      width: 100%;
    }

    .btn-login {
      color: $white;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      display: flex;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      @include border-radius(12px);
      background: $violet-17;
      &:hover {
        background: $violet-18;
        color: $white;
      }
      &:active {
        color: $white;
        background: $black-color-13;
        opacity: 1;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
    .btn-create-an-account {
      color: $white;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $body-color;
      background-image: none;
      width: 100%;
      flex-shrink: unset;
      &:hover {
        color: $white;
        background: $black-color-14;
        opacity: 1;
      }
      &:active {
        color: $white;
        background: $black-color-13;
        opacity: 1;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }

    .btn-continue-with-google {
      color: rgba(0, 0, 0, 0.54);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.032px;
      width: 100%;
      display: flex;
      height: 50px;
      padding: 15px;
      justify-content: center;
      align-items: center;
      gap: 15px;
      flex-shrink: 0;
      border-radius: 12px;
      background: $white;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.08),
        0px 2px 3px 0px rgba(0, 0, 0, 0.17);
      &:hover {
        background: $white;
        color: $gray-30;
      }
    }
  }
  .google-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 12px 0;
  }
  .or-divider::before,
  .or-divider::after {
    content: '';
    flex: 1;
    height: 1px;
    margin: 0 10px;
    background: $white;
  }

  .or-divider span {
    color: $gray-30;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
  }
}
