#root {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 70px;
}
h1 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
}
h2 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
h3 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
h4 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 133.333% */
}
h5 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 133.333% */
}
h5 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 133.333% */
}
.font-medium {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: 600 !important;
}
.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: $lightgray;
  border: none;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  .tag {
    color: $black-color;
    text-align: right;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 0.04px;
    padding: 4px 8px;
    background-color: $blue-2;
    @include border-radius(8px);
    @include transition(0.3s);
  }
}
