.wrapper-main {
  width: 100%;
  height: 100%;
  background-color: $body-color;
}
.wrapper {
  max-width: 768px;
  min-height: 100dvh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 70px;
  padding-top: 74px;
}
h1,
.h1 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
}
h2,
.h2 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
h3,
.h3 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
h4,
.h4 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 133.333% */
}
h5,
.h5 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 133.333% */
}
h6,
.h6 {
  color: $black-color-3;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  /* H1 - 32 R */
  font-family: $font-stack-popins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 133.333% */
}
.cursor-pointer {
  cursor: pointer;
}
.font-medium {
  font-weight: 500 !important;
}
.font-bold {
  font-weight: 600 !important;
}
.pt-16 {
  padding-top: 16px !important;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.p-24 {
  padding: 24px !important;
}
.pt-24 {
  padding-top: 24px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.gap-8 {
  gap: 8px;
}
.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-info-outline-rounded {
  background-image: url(../images/icon-info-outline-rounded.svg);
}
.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: $primary-default;
  border: none;
}
.user-none-img {
  background-image: url(../images/icon-user-simple.svg);
  background-position: bottom;
  background-size: 40px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  .tag {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    background-color: $blue-2;
    cursor: pointer;
    @include border-radius(8px);
    @include transition(0.3s);
    border: 0;
  }
}
.tag-item {
  color: $black-color;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Footnote - 14 R */
  font-family: $font-stack-popins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.028px;
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 8px;
  background-color: $blue-2;
  @include border-radius(8px);
  @include transition(0.3s);
}
.wrap-tags-task-detail {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  .tag {
    display: flex;
    height: 24px;
    padding: 4px 8px;
    align-items: center;
    gap: 4px;
    position: relative;
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background-image: url(../images/icon-down-for-tags.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }
  }
  .dropdown {
    position: relative;
    z-index: 1;
  }
  .toggleClose {
    backdrop-filter: blur(0px);
    background: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1057;
    top: 58px;
    left: 0;
    opacity: 1;
    visibility: hidden;
    transition: all 0.5s ease;
    &.show {
      backdrop-filter: blur(10px);
      background: rgba(30, 30, 30, 0.2);
      width: 100vw;
      height: 100vh;
      z-index: 1057;
      opacity: 1;
      visibility: visible;
      transition: all 0.5s ease;
    }
  }

  &.show {
    position: relative;
    z-index: 1058;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
    .dropdown {
      position: relative;
      z-index: 1058;
    }
    .tag {
      box-shadow: 0px 0px 8px #ffffff6b;
    }
  }
}
.context-menu {
  display: flex;
  width: 194px;
  flex-direction: column;
  align-items: flex-start;
  @include border-radius(12px);
  margin-left: 82px;
  .col-12 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .col-12:last-child {
    border: none;
  }
  .col-6 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .col-6:nth-child(n + 1) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  &.vertical {
    width: 214px;
  }
  &.grid {
    width: 194px;
  }
}
.context-menu-user {
  display: flex;
  width: 121px;
  flex-direction: column;
  align-items: flex-start;
  background-color: $white;
  @include border-radius(12px);
  position: absolute;
  z-index: 5;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: 16px;
  left: auto;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .col-12 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .user {
    display: flex;
    padding: 4px 4px 4px 12px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    cursor: pointer;
    img {
      width: 32px;
      height: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: $primary-default;
    }
    .name {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Footnote - 14 M */
      font-family: $font-stack-popins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.028px;
    }
  }
  .user-main {
    padding: 4px;
    background: $gray-5;
    img {
      width: 38px;
      height: 38px;
    }
    .user-role {
      color: $black-color-2;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Caption1 - 12 M */
      font-family: $font-stack-popins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 150% */
      letter-spacing: 0.048px;
      display: flex;
      padding: 2px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      @include border-radius(8px);
      background: $white;
      margin-top: 2px;
    }
  }
}
.dropdown-menu {
  width: 100%;
  padding: 0;
  color: $black-color;
  background-color: $white;
  border: none;
  @include border-radius(12px);
  overflow: hidden;
  li {
    display: flex;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid $gray-6;
    background: $white;
  }
  &:last-child {
    border-bottom: 1px solid transparent;
  }
  .dropdown-item {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Callout - 15 R */
    font-family: $font-stack-popins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: 0.03px;
    padding: 12px 4px 12px 12px;
    @include transition(0.3s);
    cursor: pointer;
  }
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item.active {
    color: $black-color;
    background-color: transparent;
  }
  .dropdown-item-input {
    padding: 12px 4px 12px 12px;
    border: none;
    background-color: $white;
    width: 100%;
  }
}
.dropdown-list-reviewer {
  width: calc(100vw - 32px);
  max-width: calc(768px - 32px);
}
.collapse {
  width: 100%;
}
.policy {
  color: $gray-25;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Callout - 15 R */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: 0.03px;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  /* Callout - 15 M */
  font-family: $font-stack-popins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: 0.03px;
  width: 100%;
  max-width: 225px;
  margin: 0 auto;
  a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: $white;
    @include transition(0.3s);
    &:hover {
      text-decoration: none;
    }
  }
}
.capbody {
  display: none;
  background: rgba(30, 30, 30, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
  opacity: 0;
  visibility: hidden;
  @include transition(0.3s);
  &.show {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 4;
    @include transition(0.3s);
  }
}
