.wrap-task-progress-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  padding: 16px;
  @include border-radius(20px);
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  background: $primary-default;
  .wrap-progress-badge-score {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    .title {
      color: $black-color-3;
      font-family: $font-stack-popins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 24px */
      span {
        font-weight: 500;
      }
    }
  }
  .amount {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    .form-control {
      color: $black-color;
      border-radius: 12px;
      background-color: $blue-11;
      border: 1px solid transparent;
      &::placeholder {
        color: $gray-7;
        opacity: 1;
      }
      &:focus {
        color: $black-color;
        background-color: $blue-11;
        border-color: transparent;
        outline: 0;
        box-shadow: 0px 0px 0px 4px rgba(211, 191, 249, 0.4);
      }
      &.is-invalid {
        box-shadow: 0px 0px 0px 4px #dc354580;
      }
    }
  }
  .progress-badge {
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    border-radius: 22px;
    background: $white-3;
    backdrop-filter: blur(2.5px);
    color: $black-color-3;
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
    &.progress-badge-empty {
      display: flex;
      width: 36px;
      height: 36px;
      padding: 9.36px;
      justify-content: center;
      align-items: center;
      gap: 7.2px;
    }

    .icon {
      width: 24px;
      height: 24px;
      color: $black-color;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  .wrap-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    p {
      color: $black-color-3;
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 16px */
      margin-bottom: 0;
    }
  }
  h2 {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* H2 - 28 M */
    font-family: $font-stack-popins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    span {
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
    }
    .span-2 {
      font-weight: 500;
    }
    margin: 0;
  }
  .description {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: $font-stack-popins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
  }
  p {
    margin-bottom: 0;
  }
  .wrap-progress {
    flex-wrap: wrap;
    .text {
      color: $black-color;
      text-align: right;
      font-feature-settings: 'liga' off, 'clig' off;
      /* H3 - 24 M */
      font-family: $font-stack-popins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */
      margin-bottom: 8px;
      margin-left: auto;
    }
  }
  .progress-badge + h2 {
    padding-top: 0;
  }
  &.detail {
    gap: 60px;
  }
  &.hide {
    .wrap-text {
      margin-top: 24px;
    }
  }
  &.width-score {
    gap: 20px;
    margin-bottom: 16px;
    .wrap-text {
      gap: 10px;
    }
  }
}
.user-score-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  .number {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* H1 - 32 R */
    font-family: $font-stack-popins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
  }
  .prizes {
    .prize {
      width: 28.012px;
      height: 28.012px;
      background-image: url(../images/icon-score.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include transition(0.3s);
    }
  }
}
