.tip_card_container {
  position: fixed;
  /*bottom: 93px;*/
  bottom: 12px;
  width: calc(100% - 8px);
  max-width: 760px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  .container {
    font-family: $font-stack-popins;
    width: 100%;
    min-height: 100px;
    @include border-radius(20px);
    background: $violet-5;
    position: relative;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10.5px solid transparent;
      border-right: 10.5px solid transparent;
      border-top: 11px solid $violet-5;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .tip_card_badge {
    color: $black-color-3;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Caption1 - 12 M */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.048px;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    @include border-radius(22px);
    background: $white-3;
    backdrop-filter: blur(2.5px);
  }
  h3 {
    color: $black-color;
    margin-bottom: 0px;
    width: 100%;
  }
  p {
    color: $black-color;
    margin-bottom: 0px;
    width: 100%;
  }
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .interface-elements {
    width: 100%;
  }
}
.tip_card_container_on_footer {
  bottom: 93px;
}
.tip_card_container-light {
  .container {
    background-color: $white-4;
  }
}
.tip_card_container-static {
  position: static;
  .container::after {
    display: none;
  }
  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
    margin-bottom: 8px;
  }
  p {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
  }
  .p1 {
    color: $black;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 R */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
  }
}
.tip_card_container_button {
  .container {
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  h4 {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 M */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
  }
  p {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
    margin-bottom: 0;
  }
  .row-btn-group {
    margin-top: 24px;
  }
}
.tip_card_container-icon {
  .container {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    justify-content: flex-start;
  }
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .icon {
      display: flex;
      width: 36px;
      height: 36px;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 22px;
      background: $white-3;
      backdrop-filter: blur(2.5px);
      margin: 0;
    }
  }
}
.tip_card_container-pointer {
  z-index: 4;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: calc(100vh - 83px);
    top: 0;
    left: 0;
    z-index: 5;
  }
  .container {
    position: relative;
    z-index: 6;
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  .emeralds {
    width: 136.277px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    position: relative;
    .emerald {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/icon-score.svg);
      background-size: contain;
      position: relative;
      &:first-child {
        width: 50px;
        height: 50px;
        transform: rotate(-15.068deg);
        z-index: 2;
        left: 25px;
        top: 0px;
      }
      &:nth-child(2) {
        width: 71px;
        height: 71px;
        z-index: 1;
      }
      &:last-child {
        width: 50px;
        height: 50px;
        transform: rotate(15.068deg);
        z-index: 2;
        right: 25px;
        top: 0px;
      }
    }
  }
  h3 {
    font-weight: 500;
  }
}
.tip_card_container-successfully {
  z-index: 1060 !important;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 72px;
    left: 0;
    z-index: 1059;
  }
  .container {
    position: relative;
    z-index: 1060;
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
    h3 {
      font-weight: 500;
    }
  }
  .family-list {
    .user {
      align-items: flex-start;
      justify-content: center;
      img {
        width: 78.333px;
        height: 78.333px;
      }
    }
  }
  .interface-elements {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
    .btn-close {
      color: $white;
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $body-color;
      background-image: none;
      width: 100%;
      flex-shrink: unset;
      &:hover {
        color: $black-color;
        background: $violet-7;
        opacity: 1;
      }
      &:active {
        color: $black-color;
        background: $violet-11;
        opacity: 1;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
    .btn-share {
      color: $white;
      display: flex;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $violet-10;
      background-image: none;
      width: 100%;
      flex-shrink: unset;
      &:hover {
        color: $black-color;
        background: $violet-7;
      }
      &:active {
        color: $black-color;
        background: $violet-11;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
  }
}
.tip_card_container-welcome {
  z-index: 4;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: calc(100vh - 83px);
    top: 0;
    left: 0;
    z-index: 5;
  }
  .tip_card_badge {
    border-radius: 22px;
    background: $gray-29;
  }
  .container {
    position: relative;
    z-index: 6;
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  .emeralds {
    width: 136.277px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    position: relative;
    .emerald {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/icon-score.svg);
      background-size: contain;
      position: relative;
      &:first-child {
        width: 50px;
        height: 50px;
        transform: rotate(-15.068deg);
        z-index: 2;
        left: 25px;
        top: 0px;
      }
      &:nth-child(2) {
        width: 71px;
        height: 71px;
        z-index: 1;
      }
      &:last-child {
        width: 50px;
        height: 50px;
        transform: rotate(15.068deg);
        z-index: 2;
        right: 25px;
        top: 0px;
      }
    }
  }
  h3 {
    font-weight: 400;
    b {
      font-weight: 500;
    }
  }
  p {
    b {
      font-weight: 500;
    }
  }
  .interface-elements {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
    .btn-close {
      color: $white;
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $body-color;
      background-image: none;
      width: 100%;
      flex-shrink: unset;
      &:hover {
        color: $white;
        background: $violet-7;
        opacity: 1;
      }
      &:active {
        color: $white;
        background: $violet-11;
        opacity: 1;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
    .btn-explore {
      color: $white;
      display: flex;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $violet-10;
      background-image: none;
      width: 100%;
      flex-shrink: unset;
      &:hover {
        color: $black-color;
        background: $violet-7;
      }
      &:active {
        color: $black-color;
        background: $violet-11;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
  }
}
.tip_card_container-event-save {
  z-index: 1058 !important;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: calc(100vh - 74px - 83px);
    top: 74px;
    left: 0;
    z-index: 1057 !important;
  }
  .container {
    background-color: $white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1058 !important;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  .tools {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 100%;
    .close-btn {
      display: flex;
      width: 33px;
      height: 33px;
      padding: 7.439px 11.158px;
      justify-content: center;
      align-items: center;
      gap: 7.439px;
      flex-shrink: 0;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: $gray-35;
      backdrop-filter: blur(2.3246560096740723px);
      transition: all 0.3s ease;
      svg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        fill: $gray-7;
        width: 8px;
        height: 8px;
        transition: all 0.3s ease;
      }
      &:hover {
        svg {
          fill: $black-color !important;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .text-block {
    h3 {
      color: $black-color;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 M */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
      margin-bottom: 0;
    }
    p {
      color: $black-color;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      margin-bottom: 0;
    }
  }
  .interface-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    .btn-save {
      color: $white;
      text-align: center;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.032px;
      display: flex;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border-radius: 12px;
      background: $body-color;
      &:hover {
        color: $white;
        background: $violet-7;
        opacity: 1;
      }
      &:active {
        color: $white;
        background: $violet-11;
        opacity: 1;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
    .btn-save-for-future {
      color: $white;
      display: flex;
      height: 50px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 12px;
      background: $violet-10;
      background-image: none;
      width: 100%;
      flex-shrink: unset;
      &:hover {
        color: $black-color;
        background: $violet-7;
      }
      &:active {
        color: $black-color;
        background: $violet-11;
      }
      &:disabled {
        color: $gray-10;
        background: $black-color-8;
      }
    }
  }
}
.tip_card_container-new-account {
  z-index: 1058 !important;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 72px;
    left: 0;
    z-index: 1059;
  }
  .container {
    position: relative;
    z-index: 1060;
    background: $white;
    &::after {
      border-top: 11px solid $white;
    }
  }
  .wrap-tools-family-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .tools {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    width: 100%;
    .close-btn {
      display: flex;
      width: 33px;
      height: 33px;
      padding: 7.439px 11.158px;
      justify-content: center;
      align-items: center;
      gap: 7.439px;
      flex-shrink: 0;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: $gray-35;
      backdrop-filter: blur(2.3246560096740723px);
      transition: all 0.3s ease;
      svg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        fill: $gray-7;
        width: 8px;
        height: 8px;
        transition: all 0.3s ease;
      }
      &:hover {
        svg {
          fill: $black-color !important;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .family-list {
    display: flex;
    width: calc(100% - 40px - 20px);
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
    .item-user {
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }
    .user {
      width: 52px;
      height: 52px;
      flex: 0 0 auto;
      padding: 0;
      position: static;
      background-color: transparent !important;
    }
    .text {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Headline - 18 M */
      font-family: $font-stack-popins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 144.444% */
    }
  }
  .text-block {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    .item {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Body - 16 R */
      font-family: $font-stack-popins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.032px;
      b {
        font-weight: 500;
      }
    }
  }
  .interface-elements {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .btn-copy {
    background: $body-color;
    width: calc(50% - 8px);
    height: 50px;
    &:hover {
      background: $violet-7;
    }
  }
  .btn-share {
    width: calc(50% - 8px);
    height: 50px;
  }
}
@media (max-height: 600px) {
  .tip_card_container {
    z-index: 3;
  }
  .tip_card_container-pointer,
  .tip_card_container-welcome {
    z-index: 4;
  }
  .wrap-calendar {
    z-index: 4;
  }
  .wrap-calendar.open {
    z-index: 4;
  }
}
