.tip_card_container {
  position: fixed;
  bottom: 93px;
  width: calc(100% - 8px);
  max-width: 760px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 4;
  .container {
    font-family: $font-stack-popins;
    padding: 20px 16px;
    width: 100%;
    min-height: 148px;
    @include border-radius(20px);
    background: $violet-5;
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10.5px solid transparent;
      border-right: 10.5px solid transparent;
      border-top: 11px solid $violet-5;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .tip_card_badge {
    color: $black-color-3;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Caption1 - 12 M */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.048px;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    @include border-radius(22px);
    background: $white-3;
    backdrop-filter: blur(2.5px);
    & + * {
      margin-top: 24px;
    }
  }
  h3 {
    color: $black-color;
    margin-bottom: 8px;
  }
  p {
    color: $black-color;
  }
}
.tip_card_container-static {
  position: static;
  .container::after {
    display: none;
  }
  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
    margin-bottom: 8px;
  }
  p {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
  }
}
.tip_card_container_button {
  .container {
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  h4 {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 M */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
  }
  p {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
    margin-bottom: 0;
  }
  .row-btn-group {
    margin-top: 24px;
  }
}
.tip_card_container-icon {
  .container {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
  }
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .icon {
      display: flex;
      width: 36px;
      height: 36px;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 22px;
      background: $white-3;
      backdrop-filter: blur(2.5px);
      margin: 0;
    }
  }
}
@media (max-height: 600px) {
  .tip_card_container {
    z-index: 4;
  }
  .wrap-calendar {
    z-index: 5;
  }
}
