.tip_card_container {
  position: fixed;
  bottom: 93px;
  width: calc(100% - 8px);
  max-width: 760px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  .container {
    font-family: $font-stack-popins;
    width: 100%;
    min-height: 148px;
    @include border-radius(20px);
    background: $violet-5;
    position: relative;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10.5px solid transparent;
      border-right: 10.5px solid transparent;
      border-top: 11px solid $violet-5;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .tip_card_badge {
    color: $black-color-3;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Caption1 - 12 M */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.048px;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 8px;
    @include border-radius(22px);
    background: $white-3;
    backdrop-filter: blur(2.5px);
  }
  h3 {
    color: $black-color;
    margin-bottom: 0px;
    width: 100%;
  }
  p {
    color: $black-color;
    margin-bottom: 0px;
    width: 100%;
  }
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .interface-elements {
    width: 100%;
  }
}
.tip_card_container-light {
  .container {
    background-color: $white-4;
  }
}
.tip_card_container-static {
  position: static;
  .container::after {
    display: none;
  }
  h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
    margin-bottom: 8px;
  }
  p {
    color: $black-color;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
  }
}
.tip_card_container_button {
  .container {
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  h4 {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body - 16 M */
    font-family: $font-stack-popins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.032px;
  }
  p {
    color: $black-color;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Footnote - 14 R */
    font-family: $font-stack-popins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.028px;
    margin-bottom: 0;
  }
  .row-btn-group {
    margin-top: 24px;
  }
}
.tip_card_container-icon {
  .container {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .icon {
      display: flex;
      width: 36px;
      height: 36px;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 22px;
      background: $white-3;
      backdrop-filter: blur(2.5px);
      margin: 0;
    }
  }
}
.tip_card_container-pointer {
  z-index: 4;
  &::before {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    height: calc(100vh - 83px);
    top: 0;
    left: 0;
    z-index: 5;
  }
  .container {
    position: relative;
    z-index: 6;
    background-color: $white;
    &::after {
      content: '';
      border-top: 11px solid $white;
    }
  }
  .emeralds {
    width: 136.277px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    position: relative;
    .emerald {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/icon-score.svg);
      background-size: contain;
      position: relative;
      &:first-child {
        width: 50px;
        height: 50px;
        transform: rotate(-15.068deg);
        z-index: 2;
        left: 25px;
        top: 0px;
      }
      &:nth-child(2) {
        width: 71px;
        height: 71px;
        z-index: 1;
      }
      &:last-child {
        width: 50px;
        height: 50px;
        transform: rotate(15.068deg);
        z-index: 2;
        right: 25px;
        top: 0px;
      }
    }
  }
  h3 {
    font-weight: 500;
  }
}
@media (max-height: 600px) {
  .tip_card_container {
    z-index: 3;
  }
  .wrap-calendar {
    z-index: 4;
  }
  .wrap-calendar.open {
    z-index: 4;
  }
}
