@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-stack-roboto: 'Roboto', sans-serif;
$font-stack-popins: 'Poppins', sans-serif;
$font-stack-quicksand: 'Quicksand', sans-serif;

$font-size: 16px;
$line-height: 24px;
$font-weight: 400;

$body-color: #1e1e1e !default;
$black-color: #000000 !default;
$black-color-2: #212529 !default;
$black-color-3: #292d32 !default;
$black-color-4: #2e2e2e !default;
$black-color-5: #363636 !default;
$black-color-6: #242424 !default;
$black-color-7: #303030 !default;
$black-color-8: #3e3e3e !default;
$black-color-9: #383838 !default;
$black-color-10: #424242 !default;
$black-color-11: #2a2a2a !default;
$black-color-12: #111011 !default;
$black-color-13: #181618 !default;
$black-color-14: #242324 !default;
$black-color-15: #141414 !default;
$black-color-16: #2b2b2b !default;

$primary-default: #d3bff9 !default;

$white: #ffffff !default;
$white-2: #f6f6f6 !default;
$white-3: #fbfafd !default;
$white-4: #f2ecfd !default;
$white-5: #f2f2f2 !default;

$lightgray: lightgray !default;
$gray: #939393 !default;
$gray-2: #646363 !default;
$gray-3: #adb5bd !default;
$gray-4: #bfbfbf !default;
$gray-5: #ede3ff !default;
$gray-6: #e6e6e6 !default;
$gray-7: #9f9f9f !default;
$gray-8: #333333 !default;
$gray-9: #e1d1ff !default;
$gray-10: #757575 !default;
$gray-11: #666 !default;
$gray-12: #cccccc !default;
$gray-13: #7a7a7a !default;
$gray-14: #ededed !default;
$gray-15: #d4d4d4 !default;
$gray-16: #a8a8a8 !default;
$gray-17: #999 !default;
$gray-18: #edecef !default;
$gray-19: #9d9aa4 !default;
$gray-20: #494949 !default;
$gray-21: #d9d9d9 !default;
$gray-22: #b9bec5 !default;
$gray-23: #c9c9c9 !default;
$gray-24: #808080 !default;
$gray-25: #b3b3b3 !default;
$gray-26: #f7f3ff !default;
$gray-27: #e8dcff !default;
$gray-28: #9a9a9a !default;
$gray-29: #f9f8fc !default;
$gray-30: #555260 !default;
$gray-31: #828282 !default;
$gray-32: #525252 !default;
$gray-33: #9f9ca6 !default;
$gray-34: #f0e7ff !default;
$gray-35: #f8f8f8 !default;
$gray-36: #e9dffc !default;
$gray-37: #cfcfcf !default;
$gray-38: #6b6b6b !default;
$gray-39: #4d4d4d !default;
$gray-40: #9c9c9c !default;
$gray-41: #afafaf !default;
$gray-42: #616161 !default;
$gray-43: #e2d5fb !default;
$gray-44: #c9b0f7 !default;

$red: #f75757 !default;
$red-2: #dc3545 !default;
$red-3: #fbeee8 !default;
$red-4: #f81010 !default;

$pink: #e567b9 !default;
$pink-2: #ca52f6 !default;
$pink-3: #e7bbd8 !default;
$pink-4: #fad5f7 !default;
$pink-5: #e4a8c9 !default;

$violet: #59447e !default;
$violet-2: #ae8cee !default;
$violet-3: #8170d7 !default;
$violet-4: #8e72c3 !default;
$violet-5: #e4c8e6 !default;
$violet-6: #ede7f7 !default;
$violet-7: #b38ff5 !default;
$violet-8: #deccff !default;
$violet-9: #aca3ff !default;
$violet-10: #a67cf3 !default;
$violet-11: #a073f2 !default;
$violet-12: #ddd2f4 !default;
$violet-13: #dbc7fe !default;
$violet-14: #bc9df6 !default;
$violet-15: #b694f5 !default;
$violet-16: #c6abf7 !default;
$violet-17: #8044ee !default;
$violet-18: #702deb !default;
$violet-19: #5614d2 !default;
$violet-20: #6016e9 !default;
$violet-21: #d6c2f9 !default;
$violet-22: #8c4dff !default;

$blue: #4f93f6 !default;
$blue-2: #dcd8ff !default;
$blue-3: #b3d2fe !default;
$blue-4: #d7e7ff !default;
$blue-5: #337ded !default;
$blue-6: #0d6efd !default;
$blue-7: #deecfd !default;
$blue-8: #a4caf9 !default;
$blue-9: #d4e6fc !default;
$blue-10: #b4c1e9 !default;
$blue-11: #f5f3f9 !default;
$blue-12: #f3f6f9 !default;
$blue-13: #c1dbfb !default;
$blue-14: #d4e8ff !default;
$blue-15: #c5b1e9 !default;
$blue-16: #d5d6fb !default;

$orange-light: #f9c486 !default;
$orange-light-2: #fef5da !default;
$orange-light-3: #f1d377 !default;
$orange-light-4: #ffdcc4 !default;
$orange-light-5: #fdf4e5 !default;
$orange-light-6: #eae598 !default;
$orange-light-7: #f5d67a !default;
$orange-light-8: #f8df96 !default;
$orange-light-9: #f7d983 !default;
$orange-light-10: #f4d16b !default;
$orange-light-11: #f3ca54 !default;
$orange-light-12: #f3cb58 !default;

$yellow-light: #f4feb3 !default;

$green-light: #d3f9d4 !default;
$green: #198754 !default;
$green-2: #c9e6dd !default;
$green-3: #c9f8b1 !default;
$green-4: #e3f8f1 !default;
$green-5: #9ae1ae !default;
$green-6: #cbe69f !default;

$brown-1: #e6ba9f !default;

$balck-opacity: rgba(0, 0, 0, 0.05) !default;

$primary-2: #f9e5ab !default;

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
