@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-stack-roboto: 'Roboto', sans-serif;
$font-stack-popins: 'Poppins', sans-serif;
$font-stack-quicksand: 'Quicksand', sans-serif;

$font-size: 16px;
$line-height: 24px;
$font-weight: 400;

$body-color: #1e1e1e !default;
$black-color: #000000 !default;
$black-color-2: #212529 !default;
$black-color-3: #292d32 !default;
$black-color-4: #2e2e2e !default;
$black-color-5: #363636 !default;
$black-color-6: #242424 !default;
$black-color-7: #303030 !default;
$black-color-8: #3e3e3e !default;
$black-color-9: #383838 !default;
$black-color-10: #424242 !default;
$black-color-11: #2a2a2a !default;

$primary-default: #d3bff9 !default;

$white: #ffffff !default;
$white-2: #f6f6f6 !default;
$white-3: #fbfafd !default;

$lightgray: lightgray !default;
$gray: #939393 !default;
$gray-2: #646363 !default;
$gray-3: #adb5bd !default;
$gray-4: #bfbfbf !default;
$gray-5: #ede3ff !default;
$gray-6: #e6e6e6 !default;
$gray-7: #9f9f9f !default;
$gray-8: #333333 !default;
$gray-9: #e1d1ff !default;
$gray-10: #757575 !default;
$gray-11: #666 !default;
$gray-12: #cccccc !default;
$gray-13: #7a7a7a !default;
$gray-14: #ededed !default;
$gray-15: #d4d4d4 !default;
$gray-16: #a8a8a8 !default;
$gray-17: #999 !default;
$gray-18: #edecef !default;
$gray-19: #9d9aa4 !default;
$gray-20: #494949 !default;
$gray-21: #d9d9d9 !default;
$gray-22: #b9bec5 !default;
$gray-23: #c9c9c9 !default;
$gray-24: #808080 !default;

$red: #f75757 !default;
$red-2: #dc3545 !default;

$pink: #e567b9 !default;
$pink-2: #ca52f6 !default;
$pink-3: #e7bbd8 !default;

$violet: #59447e !default;
$violet-2: #ae8cee !default;
$violet-3: #8170d7 !default;
$violet-4: #8e72c3 !default;
$violet-5: #e4c8e6 !default;
$violet-6: #ede7f7 !default;
$violet-7: #b38ff5 !default;
$violet-8: #deccff !default;
$violet-9: #aca3ff !default;
$violet-10: #a67cf3 !default;
$violet-11: #a073f2 !default;
$violet-12: #ddd2f4 !default;

$blue: #4f93f6 !default;
$blue-2: #dcd8ff !default;
$blue-3: #b3d2fe !default;
$blue-4: #d7e7ff !default;
$blue-5: #337ded !default;
$blue-6: #0d6efd !default;
$blue-7: #deecfd !default;
$blue-8: #a4caf9 !default;
$blue-9: #d4e6fc !default;
$blue-10: #b4c1e9 !default;
$blue-11: #f5f3f9 !default;
$blue-12: #f3f6f9 !default;

$orange-light: #f9c486 !default;
$orange-light-2: #fef5da !default;
$orange-light-3: #f1d377 !default;
$orange-light-4: #ffdcc4 !default;

$yellow-light: #f4feb3 !default;

$green-light: #d3f9d4 !default;
$green: #198754 !default;
$green-2: #c9e6dd !default;

$balck-opacity: rgba(0, 0, 0, 0.05) !default;

$primary-2: #f9e5ab !default;

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
