.form-group-select-vue {
  width: 100%;
  position: relative;
  .input-group {
    position: relative;
    .form-control {
      cursor: pointer;
      position: relative;
      @include border-radius(12px !important);
    }
    .input-icon {
      width: 12px;
      height: 12px;
      max-width: 12px;
      max-height: 12px;
      min-width: 12px;
      padding: 0;
      border-radius: 0 !important;
      margin: 0 !important;
      pointer-events: none;
      position: absolute;
      right: 13px;
      top: calc(50% - 6px);
      background-image: url(../images/icon-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.15s ease-in-out;
      z-index: 5;
    }
    .input-reset-value {
      right: 20px;
    }
    .form-control:focus {
      box-shadow: 0px 0px 0px 1px $primary-default;
    }
    &.showlistclass {
      .form-control:focus + .input-icon {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown-vue {
    width: 100%;
    padding: 0;
    color: $black-color;
    background-color: $white;
    border: none;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    @include border-radius(12px);
    overflow: hidden;
    z-index: 12;
    .item {
      display: flex;
      gap: 8px;
      align-self: stretch;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      background: $white;
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Callout - 15 R */
      font-family: $font-stack-popins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 146.667% */
      letter-spacing: 0.03px;
      padding: 12px 4px 12px 12px;
      @include transition(0.3s);
      cursor: pointer;
      &:last-child {
        border-bottom: 1px solid transparent;
      }
      &.item-selected {
        color: $gray-7;
      }
    }
  }
}

.members-list-vue {
  position: relative;
  .item {
    width: 100%;
    position: relative;
    input {
      opacity: 0;
      position: absolute;
      width: calc(100% - 0px);
      left: 0;
      z-index: 2;
    }
  }
  .dropdown-vue {
    width: 100%;
    padding: 0;
    color: $black-color;
    background-color: $white;
    border: none;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    @include border-radius(12px);
    overflow: hidden;
    z-index: 12;
    .dropdown-item {
      color: $black-color;
      font-feature-settings: 'liga' off, 'clig' off;
      /* Callout - 15 R */
      font-family: $font-stack-popins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 146.667% */
      letter-spacing: 0.03px;
      padding: 12px 4px 12px 12px;
      @include transition(0.3s);
      cursor: pointer;
    }
  }
}
